@model Owner 

@{
    ViewData["Title"] = "Details"; 
}

<h1>Details</h1> 

<div>
    <h4>Owner</h4> <!-- Container for owner details -->
    <hr /> 
    <dl class="row">
        <!-- Definition list to display property labels and values -->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name) <!-- Label for the Name property -->
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name) <!-- Value of the Name property -->
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email) 
        </dd>
    </dl>
</div>
<div> 
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | <!-- Link to edit the current owner -->
    <a asp-action="Index">Back to List</a> <!-- Link to go back to the owner list -->
</div>
