
<h1>Login</h1>

<form method="post" class="w-25">

    <div class="mb-3">
        <label for="username" class="form-label">Username</label> <!-- Label for username input -->
        <input type="text" id="username" name="username" class="form-control" /> <!-- Text input for username -->
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label> <!-- Label for password input -->
        <input type="password" id="password" name="password" class="form-control" /> <!-- Password input for password -->
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button> <!-- Submit button for the form -->
    </div>
</form>