html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.homepage-hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/images/Homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 30px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

body {
    background: url('/images/homepagebackground.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

table {
    background-color: rgba(255, 255, 255, 0.85) !important;
    border-radius: 8px !important;
    padding: 10px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

th {
    background-color: rgba(255, 255, 255, 0.95) !important;
    font-weight: bold !important;
}

td {
    background-color: rgba(255, 255, 255, 0.75) !important;
}